
body{
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: lightgrey;
	background-position: center center;
	padding-top: 70px;
	padding-bottom: 70px;
}
.thumbnail {
    border: 0 none;
    box-shadow: none;
}
.img-raised{
	margin:10px 5px;
	-webkit-box-shadow: 1px 2px 3px #444;
	-moz-box-shadow: 2px 3px 8px #444;
	box-shadow: 2px 3px 8px #444;
}
.bordered{
	padding: 20px 20px 20px 20px;
	border: 1px dashed grey;
	border-radius: 1%;
}

a{
	text-align: center;
}
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: black;
		text-decoration: none;
}

/* selected link */
a:active {
    color: black;
}
.td {
		padding: 0.4em;
		max-width: 9.3em;
		/* Need to make this pick dynamically */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
